asgiref==3.2.3
Babel==2.7.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
dj-database-url==0.5.0
Django==3.0.3
django-countries==5.5
django-phonenumber-field==4.0.0
filelock==3.0.12
gunicorn==20.0.4
heroku==0.1.4
idna==2.8
packaging==19.2
phonenumbers==8.11.1
Pillow==6.2.1
pluggy==0.13.1
py==1.8.0
pyparsing==2.4.5
python-dateutil==1.5
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
toml==0.10.0
tox==3.14.2
urllib3==1.25.7
virtualenv==16.7.8
whitenoise==5.0.1
psycopg==2.6.2